.featured {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin-top: 15px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #888;
    padding: 1rem 1rem ;

    .title {
      font-size: 18px;
      font-weight: 500;
  font-family: 'Poppins', sans-serif;

    }
  }
  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredChart {
      width: 100px;
      height: 100px;
      color: #888;
    }

    .title {
      font-weight: 500;
      color: #888;
  font-family: 'Poppins', sans-serif;

    }

    .amount {
      font-size: 30px;
      color: #888;
      font-family: 'Poppins', sans-serif;
    }

    .desc {
      font-weight: 300;
      font-size: 12px;
      color: #888;
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 14px;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;

          &.positive {
            color: green;
          }

          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
